# 1. Önce her şeyi yoksay
*

# 2. Klasörlerin içine bakabilmek için klasör yapısına izin ver
!*/

# 3. Takip etmek istediğin klasörleri BEYAZ LİSTEYE al
!hypr/
!nvim/
!kitty/
!fish/
!quickshell/
!fastfetch/
!Thunar/
!.gitignore

# 4. ÖZEL İSTİSNALAR (Bu kurallar en altta olmalı ki yukarıdaki '!' kurallarını ezsin)
# Beyaz listedeki klasörlerin içinde olsa bile bunları yoksay:
fish/fish_variables
nvim/undodir/
Code - Insiders/
